<script>
    import Sidenav from '../components/SideNav.svelte';
    import AddPersonModal from '../components/AddPersonModal.svelte'
    import { addPersonModalToggle } from '../../stores';

    let addperson_modal_value;
// let isUserLoggedIn;


    addPersonModalToggle.subscribe(value => {
		addperson_modal_value = value;
  });


</script>

<style>
    .side-nav{
        background-color: lightgray;
        height: 100vh;
    }
   
    .container-layout{
        margin-left: .75%;
        margin-right:.75%;
    }



</style>

<div class="container.is-widescreen container-layout">
    <div class="columns">
        <div class="column is-one-fifth side-nav">
            <Sidenav/>
        </div>
        <div class="column home-content">I'm content</div>
    </div>
    
    {#if addperson_modal_value}
    <AddPersonModal/>
    {/if}


</div>
   
