<script>
  import { LoginForm } from '../components';
  import { signupModalToggle } from '../../stores';
  // import { userSignedIn } from '../../stores';
  import { SignupModal } from '../components';


let signup_modal_value;
// let isUserLoggedIn;


	signupModalToggle.subscribe(value => {
		signup_modal_value = value;
  });

  // userSignedIn.subscribe(value => {
	// 	isUserLoggedIn = value;
  // });


</script>


<main>
  <div class="columns is-gapless">
  <div class="column is-two-thirds">
    Intro Component goes here....
    <h1>Login modal value is: {signup_modal_value}</h1>
    <!-- <h1>Is User Signed in?: {isUserLoggedIn}</h1> -->

  </div>
  <div class="column">
    <LoginForm/>
  </div>

  

  {#if signup_modal_value}
    <SignupModal/>
  {/if}
</div>


</main>




