
<script>

  //IMPORTS
  import {apiUrl} from '../../config';
  import { signupModalToggle } from '../../stores';
  // import { userSignedIn } from '../../stores';
  import router from 'page';

  //COMPONENT VARIABLES
  let email = "";
  let password = "";
  let loginMsg = "";
  let login_modal_value;

  // COMPONENT FUNCTIONS
	const subscribe = signupModalToggle.subscribe(value => {
		login_modal_value = value;
	});

  function openModal() {
    signupModalToggle.set(true);
	};


  const handleLogin = (email, pass) => {
    const data = { email: email, password: pass};
    // console.log(data);

    fetch(`${apiUrl}/login`, {
      method: 'POST', // or 'PUT'
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(data),
    })
    .then(response => response.json())
    .then(data => {
      console.log('Response:', data);
      (data.err)? loginMsg = data.err : loginMsg = 'success!';
      
      if(!data.err){
        localStorage.setItem("token", data.token);
        // userSignedIn.set(true);
        router.redirect('/home')
      }

    })
    .catch((error) => {
      console.error('Error:', error);
    });

  }

</script>


<div class="field-container">
  <div class="field">
    <p class="control has-icons-left has-icons-right">
      <input class="input" type="email" placeholder="Email" bind:value={email}>
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control has-icons-left">
      <input class="input" type="password" placeholder="Password" bind:value={password}>
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="help {(loginMsg === 'success!') ? 'is-success' :'is-danger'} mb-2 fixed-help-height">{loginMsg}</p>
    <p class="control">
      <button class="button is-primary" on:click|preventDefault={handleLogin(email, password)}>
        Login
      </button>
    </p>
    
  </div>

  <div class="content">
    <p class="mb-0 mt-5">Don't have an account?</p>
    <a on:click={() => openModal()}>Click here to sign up!</a>
  </div>
   

</div>


<style type="text/scss">

  @import '../main.scss';

  .fixed-help-height{
    min-height: 18px;
  }

  .mt-5{
    margin-top: 5%;
  }

  .mb-0{
    margin-bottom: 0 !important;
  }

  .mb-2{
    margin-bottom: 2%;
  }

  .field-container{
      margin: 5%;
      padding: 5%;
      background-color: $grey-light;
  }

</style>


