<script>

    import { userSignedIn } from '../../stores';
    let loggedIn;

    userSignedIn.subscribe(value => {
		loggedIn = value;
	});

    function logOut() {
        localStorage.clear();
        //BENDO: invalidate key after eaving!
	}
    
</script>


<style>
    .nav-title-text{
        font-size: 24pt;
    }

</style>


<main>
    <nav class="navbar nav-title" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
        <div class="navbar-item nav-title-text">Momenteaux</div> 

        <a href='/' role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
        </div>
    
        <div id="navbarBasicExample" class="navbar-menu">

        {#if loggedIn}
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a href='/' class="button is-primary" on:click={()=> logOut()}>
                            <strong>Logout</strong>
                        </a>
                    </div>
                </div>
            </div>
	    {/if}
    
       
        </div>
    </nav>
  </main>