<script>
    import IconifyIcon from '@iconify/svelte';
    import addPerson from '@iconify/icons-mdi/person-add';
    import { addPersonModalToggle } from '../../stores';

    // let add_person_modal_value;


	// const subscribe = addPersonModalToggle.subscribe(value => {
	// 	add_person_modal_value = value;
	// });

    function openModal() {
        addPersonModalToggle.set(true);
	};
    
</script>


<style>
    .container{
        width: 100%;
        margin-top: 5%;
    }
    .side-nav-item{
        text-align: center;
    }

    .add-person-icon{
        color: grey;
        margin-top: 5%;
        margin-left: 2%;
        margin-right: 2%;
        display: inline-block;
    }

    .add-person-icon:hover {
	    color: red;
        cursor: pointer;
    }
  
</style>


<main>
    <div>
        <div class="add-person-icon" on:click={() => openModal()}>
                <IconifyIcon icon={addPerson} height={30} width={30} />
        </div>
    </div>
    

    <div class="container">
        <div class="side-nav-item">Family</div>
        <div class="side-nav-item">Friends</div>
        <div class="side-nav-item">TBD</div>
    </div>
    
</main>