<script>
	import { onDestroy } from 'svelte';
	import { signupModalToggle } from '../../stores';
	// import { userSignedIn } from '../../stores';
	import {apiUrl} from '../../config';
	import router from 'page';



	let modal;
	let signupMsg = "";
	let email = "";
	let password = "";
	let firstName = "";
  	let lastName = "";

	function closeModal() {
		signupModalToggle.set(false);
	}

	const handleSignup= (email, password, firstName, lastName)=>{
		
		const data = { 
			email: email, 
			password: password, 
			firstName: firstName, 
			lastName: lastName
		}

		fetch(`${apiUrl}/signup`, {
      	method: 'POST', // or 'PUT'
      	headers: {
        	'Content-Type': 'application/json',
      	},
      	body: JSON.stringify(data),
    	})
    	.then(response => response.json())
    	.then(data => {
			console.log('Response:', data);
			(data.errors)? signupMsg = data.errors[0].message : signupMsg = 'success!';
			console.log(data.errors)
			
			if(!data.errors){
				fetch(`${apiUrl}/login`, {
      				method: 'POST', // or 'PUT'
					headers: {
						'Content-Type': 'application/json',
					},
					body: JSON.stringify({email:email, password: password}),
					})
					.then(response => response.json())
					.then(data => {
					console.log('Response:', data);
					
					if(!data.err){
						localStorage.setItem("token", data.token);
						// userSignedIn.set(true);
						router.redirect('/home')
					}

					})
					.catch((error) => {
					console.error('Error:', error);
					});

  			}


    	})
    	.catch((error) => {
      	console.error('Error:', error);
    	});

	}
	
	const handle_keydown = e => {
		if (e.key === 'Escape') {
			closeModal();
			return;
		}
	};

	const previously_focused = typeof document !== 'undefined' && document.activeElement;

	if (previously_focused) {
		onDestroy(() => {
			previously_focused.focus();
		});
	}

</script>

<svelte:window on:keydown={handle_keydown}/>

<div class="modal-background-svelte" ></div>

<div class="modal-svelte" role="dialog" aria-modal="true" bind:this={modal}>

	<!-- svelte-ignore a11y-autofocus -->


	<div class="message-header notification is-primary">
    	Signup for Momenteaux
    	<button on:click={closeModal} class="delete is-medium"></button>
  	</div>

	<div class="field">
		<div class="control">
		  <input class="input is-light" type="text" placeholder="First Name" bind:value={firstName}>
		</div>
	</div>

	<div class="field">
		<div class="control">
		  <input class="input is-light" type="text" placeholder="Last Name" bind:value={lastName}>
		</div>
	</div>

	<div class="field">
		<div class="control">
		  <input class="input is-light" type="email" placeholder="Email" bind:value={email}>
		</div>
	</div>

	<div class="field">
		<div class="control">
		  <input class="input is-light" type="password" placeholder="Password" bind:value={password}>
		</div>
	</div>

	<p class="help {(signupMsg === 'success!')? 'is-success' :'is-danger'} mb-2 ml-2 fixed-help-height">{signupMsg}</p>


	<button on:click|preventDefault={handleSignup(email, password, firstName, lastName)}>Submit</button>

</div>

<style>
	.modal-background-svelte {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.3);
        color: white;
	}

	.modal-svelte {
		position: absolute;
		left: 50%;
		top: 50%;
		width: calc(100vw - 4em);
		max-width: 32em;
		max-height: calc(100vh - 4em);
		overflow: auto;
		transform: translate(-50%,-50%);
		padding: 1em;
		border-radius: 0.2em;
		background: white;
	}

	.mb-2{
    	margin-bottom: 2%;
  	}	

	.ml-2{
		margin-left: 2%;
	}

	.fixed-help-height{
    	min-height: 18px;
  	}

	button {
		display: block;
	}
</style>
