<script>
	//SET GLOBAL PROPS
	// export let name;  
	
	//IMPORT PERSISTENT COMPONENTS FOR APP
	import { Navbar, Footer } from './components';
	import {apiUrl} from '../config';

	


	//IMPORT VARIABLES FROM STORE
	import { userSignedIn } from '../stores';

	//SET UP ROUTER AND ROUTES
	import router from 'page';
	import Home from './pages/Home.svelte';
	import Login from './pages/Login.svelte';
	import ErrorPage from "./pages/ErrorPage.svelte";
	import Example from "./pages/Example.svelte";

	//SET ROUTER VARIABLES 
	let page;
	let params;
	let user = null;
	let loggedIn;

	//SUBSCRIBE TO STORES
	userSignedIn.subscribe(value => {
		loggedIn = value;
	});

	// GLOBAL FUNCTIONS

	const verifyBrowserToken = (token) => {
		const data = { token: token};

		fetch(`${apiUrl}/verifyusertoken`, {
		method: 'POST', // or 'PUT'
		headers: {
			'Content-Type': 'application/json',
		},
		body: JSON.stringify(data),
		})
		.then(response => response.json())
		.then(data => {
		
			if(data.response === 'success'){

				userSignedIn.set(false);
				page = Home
			}
			else{
				userSignedIn.set(false);
				page = Login
			}
		
		})
		.catch((error) => {
		console.error('Error:', error);
		});

  }
	
	//BENDO
	/// EVER GET A 401 (unauthenticated), boot the person! === soy Ben!
	// DIFF than 403 == unauthorized == has proper credentials
	// global http calls --> verify each call

	//SET ROUTES
	router('/', () => {
		//BENDO: future API call to verify token before redirect
		if (localStorage.token) {

			verifyBrowserToken(localStorage.token);
		} 
		
		userSignedIn.set(false);
		page = Login
  	})
	router('/example', () => page = Example);
	
	router('/home', () => {
		//BENDO: future API call to verify token before redirect
		if(!localStorage.token){
			router.redirect('/');
			userSignedIn.set(false);
		}

		userSignedIn.set(true);
		page = Home
	});
	
	router('/*', () => page = ErrorPage)

	router.start();
</script>


<style global lang="scss">
	@import "main.scss";
</style>

<main>
	<Navbar/>
	<!-- <svelte:component this={page} params={params} />	 -->
		<svelte:component this={page}  />	
	<Footer/>
</main>



<!-- NEED TO STOP PASSSING PARAMS WHEN NOT NEEDED if/else??? -->
	<!-- {#if params}
			<svelte:component this={page} params={params} />	
		{:else}
			<svelte:component this={page} />	
		{/if} -->
